{% extends "base_generic.html" %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
{% endblock %}
{% block content %}
<div class="content-blk" id="about_top">
    <div class="ui padded grid">
        <div class="eight wide computer sixteen wide mobile column">
            <div class="title">
                <h1>我們是誰 <span style="color:#fff;">｜ 關於科登</span></h1>
            </div>
            <h2>二十八年做好一件事</h2>
        </div>
        <div class="seven wide computer sixteen wide mobile column">
            <p>科登學院（原科登美語）成立於西元 1992 年，深耕大豐原地區近三十年，教育過的學子遍布豐原、后里、神岡、潭子等地區，十幾年來以英文、數理教學打穩辦學根基。而近一兩年，電機資訊團隊正在積極投入研發，將於 2020 年暑假推出嶄新的資訊科技課程，同時將本班名稱更改為「科登學院」。除了提供知識傳授，我們更注重孩子的人格養成，並將「態度」視為一切學習的前提。</p>
        </div>
    </div>
</div>
<div class="content-blk" id="about_vision">
    <div class="title">
        <h1>我們相信什麼 <span>｜ 關於願景</span></h1>
    </div>
    <h2>讓每個孩子擁有能夠帶到未來的能力</h2>
    <p>每個孩子來到科登的原因或許不同，但我們希望在他（她）踏出科登大門的那天，能夠帶走屬於自己的東西。在這個變遷快速的時代，不再有任何技能或工作可稱作是「鐵飯碗」，我們努力幫助孩子找到適合自己的路，並有能力去面對那條路上的關卡與挑戰。
    </p>
</div>
<div class="content-blk" id="about_mission">
    <div class="title">
        <h1>我們怎麼做 <span>｜ 關於使命</span></h1>
    </div>
    <h2>秉持嚴謹踏實的辦學理念，教導英文、數理、資訊科技課程，並將態度視為所有學習的前提</h2>
    <p>能帶到未來的能力有很多種，我們不僅提供英文、數理基礎訓練，同時有資訊科技課程（創客基地），提供邏輯思考與動手實作的空間。科登的教育將人格養成擺在前頭，希望孩子在做學問的同時培養做人處事的態度。</p>
</div>
<div class="content-blk" id="core_values">
    <div class="title">
        <h1>我們的態度 <span>｜ 關於核心價值</span></h1>
    </div>
    <p>核心價值代表著我們做事情、待人處事、互相合作的態度，也是我們希望與學生、家長共同建立的默契。</p>
    <div class="ui padded centered grid">
        <div class="sixteen wide column">
            <div class="ui grid">
                <div class="six wide computer sixteen wide mobile column b_col">
                    <h2>誠實面對自己</h2>
                    <h2 class="core_eng">Face yourself honestly</h2>
                </div>
                <div class="ten wide computer sixteen wide mobile column">
                    <span>▶ 先對自己誠實，才有機會對別人誠實</span>
                    <span>▶ 接納自己的一切，不管好的或不好的</span>
                    <span>▶ 面對困難與未知時我不會逃避或找理由，而是想盡辦法克服</span>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui grid">
                <div class="six wide computer sixteen wide mobile column y_col">
                    <h2>全心全意投入</h2>
                    <h2 class="core_eng">All-out effort</h2>
                </div>
                <div class="ten wide computer sixteen wide mobile column">
                    <span>▶ 做任何事情時，若沒有積極投入，不如先不要做</span>
                    <span>▶ 全心全意投入是回饋彼此最好的方式</span>
                    <span>▶ 我全心投入因為我對事情在乎且負責</span>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui grid">
                <div class="six wide computer sixteen wide mobile column b_col">
                    <h2>為自己學習</h2>
                    <h2 class="core_eng">Learn for yourself</h2>
                </div>
                <div class="ten wide computer sixteen wide mobile column">
                    <span>▶ 學習是自己的事，不是為了老師、父母或考試</span>
                    <span>▶ 對於知識永遠保有開放與好奇的心</span>
                    <span>▶ 對於已知的我不滿足，對於未知的我相信自己有能力學會</span>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui grid">
                <div class="six wide computer sixteen wide mobile column y_col">
                    <h2>勇於嘗試</h2>
                    <h2 class="core_eng">Dare to try</h2>
                </div>
                <div class="ten wide computer sixteen wide mobile column">
                    <span>▶ 我喜歡跳脫框架的思考，大膽假設、小心求證，並付諸行動
                    </span>
                    <span>▶ 與其一直猶豫與觀望，我相信直接去做最快</span>
                    <span>▶ 我在開口問問題之前，會先努力做各種嘗試</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}