<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>科登文教機構</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Add additional CSS in static file -->
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>
        <!--script src="{% static 'semantic/dist/semantic.min.js' %}"></script-->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>

        <!--link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}"-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="main-wrap" class>
            <div class="ui fixed inverted menu">
                <a class="header item" style="font-size:large">科登文教</a>
                <div class="right menu">
                    <a class="item">關於科登</a>
                    <a class="item">理念與願景</a>
                    <div class="ui simple dropdown item">
                        開班部門
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">英文部</div>
                            <div class="item">數理部</div>
                            <div class="item">科技教育中心</div>
                        </div>
                    </div>
                    <a class="item">我的班級</a>
                    <div class="item menu-btn">
                        <div class="ui inverted button">註冊</div>
                    </div>
                    <div class="item menu-btn">
                        <div class="ui inverted button">登入</div>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
