{% extends "base_generic.html" %}
{% block content %}
<div class="myclass">
    <div class="ui padded grid">   
        <div class="three wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item" href={% url 'bulletin' %}>
                    <i class="tasks icon"></i>
                    本週訊息公佈
                </a>
                <a class="item" href={% url 'pretest' %}>
                    <i class="pencil alternate   icon"></i>
                    預考區
                </a>
                <a class="item" href={% url 'dicussion' %}>
                    <i class="comments icon"></i>
                    班級討論區
                </a>
                <a class="item" href={% url 'score' %}>
                    <i class="table icon"></i>
                    個人成績紀錄
                </a>
            </div>
        </div>
        <div class="thirteen wide column">
            <div class="ui segment">
            {% block class_area %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}