{% extends "base_generic.html" %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/clock.css' %}">
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="universe">
    <div class="ui two column padded grid" id="main-area">
        <div class="ten wide computer sixteen wide mobile column">
            <img class="ui centered image" src="{% static 'images/space.png' %}">
        </div>
        <!-- https://stackoverflow.com/questions/298772/django-template-variables-and-javascript -->
        <div class="six wide computer sixteen wide mobile column">
            <div class="ui padded grid" id="right_side">
                <div class="eight wide computer sixteen wide mobile column" id="sche_tbl">
                    <table class="ui celled right aligned table">
                        <thead>
                            <tr><th><h2>今日課程</h2></th></tr>
                        </thead>
                        <tbody id="course_insert">
                            {{ today_course|json_script:"course-data" }}
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column" id="schedule_right">
                    <div class="ui padded grid" id="clock_grid">
                        <div class="sixteen wide column" id="canvas">
                            <canvas> </canvas>
                        </div>
                        <div class="sixteen wide column" align="center" id="schedule_link">
                            <i class="angle double right icon"></i>
                            <a href="#" style="color:#fff;">看每週課表！</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui blue button" id="schedule_btn">
                <i class="angle double right icon"></i>
                    &nbsp;&nbsp;查看完整課表
            </button>
            <div class="sixteen wide column" id="banner" style="margin-bottom: 3rem;">
                <a href="/home/myclass">
                    <img src="{% static 'images/banner_bg.png' %}" style="width: 100%; border-radius: 1em; margin: auto;">
                </a>
                {% if user.is_authenticated %}
                <div class="ui button" id="edit_banner">
                    <i class="pencil alternate icon"></i>
                    <span>Edit</span>
                </div>
                <form action="/somewhere/to/upload" enctype="multipart/form-data">
                    <div style="height:0px; width: 0; overflow:hidden;">
                        <input type="file" id="fileInput" accept="image/gif, image/jpeg, image/png"/>
                    </div>
                </form>
                {% endif %}
            </div>            
        </div>
        <div class"sixteen wide column" id="inform-down">
            <i id="down-icon" class="chevron down link icon" style="opacity:0.6; font-size:2rem;"></i>
            <p sytle="font-size:8px;">往下滑！</p>
        </div>
    </div>
</div>
<div class="content-area" id="about-us">
    <div class="ui padded grid" style="width: 100%;">
        <div class="eight wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="five wide computer seven wide mobile column">
                    <h2 class="ui header" style="color:#3066BE">About Us</h2>
                    <h3 class="sub_title">關於科登</h3>
                </div>
                <div class="eleven wide computer nine wide mobile column" style="border-left: thick solid #3066BE; height:5rem; margin: auto;">
                </div>
            </div>
            <div class="ui clearing divider"></div>
            <p>科登文教機構成立於西元1993年，深耕大豐原地區二十餘年，教育過的學子不計其數，遍布豐原、后里、神岡、潭子地區。十幾年來以英語教學打穩辦學根基，近年更加入數學、理化等課程使同學們獲得更全面的學習。而近一兩年，電機資訊團隊正在積極投入研發，預計於2020年推出嶄新的程式設計與機器人課程，與108課綱正式接軌。</p>
        </div>
        <div class="eight wide computer sixteen wide mobile column">
            <img class="ui large centered rounded image" src="{% static 'images/aboutus.jpg' %}">
        </div>
        <div class="eight wide computer sixteen wide mobile column" id="aboutus_img2">
            <img class="ui large centered rounded image" src="{% static 'images/aboutus.jpg' %}">
        </div>
        <div class="eight wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="eleven wide computer nine wide mobile column" style="border-right: thick solid #3066BE; height:5rem; margin: auto;"></div>
                <div class="five wide computer seven wide mobile column" style="text-align:right;">
                    <h2 class="ui header" style="color:#3066BE">School Philosophy</h2>
                    <h3 class="sub_title">理念與願景</h3>
                </div>
            </div>
            <div class="ui clearing divider"></div>
            <p>以開啟學生語言學習之鑰為首務。師資均具有專業英文職能、資歷與教學熱誠,願意付出百分之百所學及心力於教學對象。 不只是英文補習班,同時也兼任教導學生思考和知識整合能力的教育機構 ,使學生自在應用英文於聽、說、讀、寫,在日益國際化的環境中更具競爭力。</p>
        </div>
    </div>
</div>
<div class="content-area" style="background-color: #3066BE;">
    <div id="class_struct">
        <h1 style="text-align: center;">課程架構表</h1>
        <p>我們目前的授課科目主要可以分為「英文」、「數理」，以及 2020 年暑假即將開班的「資訊科技」課程，年級涵蓋國小到高中，各部門目前開課班級可以參考下圖表。</p>
        <img class="ui image" src="{% static 'images/class_structure.png' %}">
    </div>
</div>
<div class="content-area" id="eng">
    <div class="ui padded grid">
        <div class="six wide computer sixteen wide mobile column left-padding">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h1>英文部</h1>
                    <h2 class="sub_title">
                        English<br>Department
                    </h2>
                </div>
                <div class="sixteen wide column">
                    <div class="eng_blk cls_blk">Y21-入門</div>
                    <div class="eng_blk cls_blk">Y20-基礎</div>
                    <div class="eng_blk cls_blk">國一-初級</div>
                    <div class="eng_blk cls_blk">國二-初級</div>
                    <div class="eng_blk cls_blk">國三-初級</div>
                    <div class="eng_blk cls_blk">高一-中級</div>
                </div>
            </div>
        </div>
        <div class="nine wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h2 style="color:#ee964b">課外為主、課內為輔，多角度切入活用英文</h2>
                    <p>
                        英文課程由 Monica 老師教導，教課範圍從兒童美語到高中英文，以課外教材為主體、並同時兼顧學校進度。教學內容觸及聽力、閱讀、會話、寫作、單字、文法、小說等各個不同的面向，使同學們的學習不再只侷限於課內，能夠獲得更全面的學習與活用。
                    </p>
                </div>
                
            </div>
        </div>
        <div class="one wide column mobile_hide"></div>
        <div class="one wide column mobile_hide"></div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge headphones icon"></i>
                <figcaption>聽力</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge book icon"></i>
                <figcaption>閱讀</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge comments alternate icon"></i>
                <figcaption>口說</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge pencil alternate icon"></i>
                <figcaption>寫作</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge font icon"></i>
                <figcaption>單字、文法</figcaption>
            </figure>
        </div>
        <div class="four wide computer sixteen wide mobile right floated column" align="right">
            <button class="ui button" style="background-color: #ee964b; color: #fff;">各班詳細介紹 >></button>
        </div>
        <div class="one wide column mobile_hide"></div>
    </div>
</div>
<div class="content-area" id="math_sci">
    <div class="ui padded grid">
        <div class="eleven wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="six wide computer sixteen wide mobile column left-padding">
                    <h1>數理部</h1>
                    <h2 class="sub_title">
                        Math and Science<br>Department
                    </h2>
                </div>
                <div class="ten wide computer sixteen wide mobile column left-padding">
                    <div class="math_blk cls_blk">國一數學</div>
                    <div class="math_blk cls_blk">國三數學</div>
                    <div class="math_blk cls_blk">國三理化</div>
                    <div class="math_blk cls_blk">高一數學</div>
                    <div class="math_blk cls_blk">高二數學</div>
                    <div class="math_blk cls_blk">高職二數學</div>
                    <div class="math_blk cls_blk">高職電子學</div>
                </div>
                <div class="sixteen wide column left-padding">
                    <h2 style="color:rgb(115, 149, 111)">觀念式教學，以實例帶入定理，迅速抓住單元重點</h2>
                    <p>
                        數理課程由 Easy 老師教導，電機背景的 Easy 老師，教授科目涵蓋數學、理化、電子電機等領域。擅長先以實例帶領同學理解大觀念或定理的運作，再進入原理背後的計算或實作細節；能夠使同學迅速掌握課程重點，進入細節時也更容易理解、不會一開始就迷失在複雜的計算過程中。小班式的教學特色，更能夠照顧到每個程度不同的孩子！
                    </p>
                </div>    
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="three wide computer sixteen wide column">
            <div class="ui centered grid">
                <div class="sixteen wide computer five wide mobile column intro_icon">
                    <figure align="center">
                        <i class="huge lightbulb  icon"></i>
                        <figcaption>觀念式教學</figcaption>
                    </figure>
                </div>
                <div class="sixteen wide computer six wide mobile column intro_icon">
                    <figure align="center">
                        <i class="huge rocket icon"></i>
                        <figcaption>迅速抓住重點</figcaption>
                    </figure>
                </div>
                <div class="sixteen wide computer five wide mobile column intro_icon">
                    <figure align="center">
                        <i class="huge users icon"></i>
                        <figcaption>有教無類</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
<div class="content-area" id="maker">
    <div class="ui padded grid">
        <!--For new class promotion-->
        <button class="ui button animated infinite flash" id="promote_btn">NEW</button>
        <div class="row">
            <div class="five wide column"></div>
            <div class="eleven wide right floated column" id="maker_title">
                <span>
                    <span style="color: #3FBFBB">G</span>olden 
                    <span style="color: #3FBFBB">M</span>aker 
                    <span style="color: #3FBFBB">S</span>pace
                </span>
                <div>
                    <i class="terminal icon"></i>
                    <h1>科登自造者基地</h1>
                </div>
            </div>
            <div class="eleven wide right floated column" style="text-align: right; margin-right: 2rem;">
                <p>
                    108 課綱起將科技資訊素養納入正式課程，國高中都要學寫程式！<br>2020 年暑假，由 Easy 老師帶領淡江電機系的 Maulder 與成大資工系的 Elmo，<br>為科登的孩子們帶來全新的程式設計與軟硬體開發課程，與 108 課綱正式接軌🏃‍♂🏃‍♀
                </p>
            </div>
        </div>
        <div class="row" id="slogans">
            <div class="four wide column">
                <h2>Training on Project</h2>
                <h2>專案中學習</h2>
                <figure align="center">
                    <i class="huge puzzle piece icon"></i>
                </figure>
                <p align="center">我們特別強調透過專案來了解理論，先建立整體概念再探討技術細節，是我們認為有效的學習路徑。</p>
            </div>
            <div class="four wide column">
                <h2>Get your hands dirty</h2>
                <h2>把手弄髒</h2>
                <figure align="center">
                    <i class="huge wrench icon"></i>
                </figure>
                <p align="center">我們鼓勵孩子們用力把手弄髒。腦中有想法就盡可能把它實現，在過程中培養自己解決問題的能力。</p>
            </div>
            <div class="four wide column">
                <h2>Embrace Failure</h2>
                <h2>擁抱失敗</h2>
                <figure align="center">
                    <i class="huge bug icon"></i>
                </figure>
                <p align="center">在這裡，失敗一點也不丟臉，反倒是理解自身不足的絕佳機會。 Debug 是成為強者的必經之路。</p>
            </div>
        </div>
    </div>
</div>
<div class="content-area" id="footer">
    <div class="ui one column centered grid">
        <div class="column">
            <h2>科登文教機構</h2>
        </div>
        <div class="column">
            <h4>台中，豐原</h4>
        </div>
        <div class="column">
            <div class="ui very relaxed horizontal list">
                <div class="item">
                    <i class="home icon"></i>
                    台中市豐原區瑞安街 183 號
                </div>
                <div class="item">
                    <i class="phone icon"></i>
                    (04)2528-3433
                </div>
                <div class="item">
                    <i class="clock outline icon"></i>
                    14:00 ~ 22:00
                </div>
            </div>
        </div>
        <div class="ui clearing divider" style="width: 80%;"></div>
        <div class="column">
            Copyright 2020 © 科登文教機構 Designed by shihyuuuuuuu·_·
        </div>
    </div>
</div>
<div class="ui hidden modal" id="week_schedule">
    <i class="close icon"></i>
    <div class="header">
        課程時間表
    </div>
    <div class="content">
        <img class="ui image" src="{% static 'images/week_schedule.png' %}">
    </div>
</div>
<script src="{% static 'js/clock.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}