{% extends "base_generic.html" %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/clock.css' %}">
{% endblock %}
{% block content %}
<div class="universe">
    <div class="ui two column padded grid" id="main-area">
        <div class="ten wide computer sixteen wide mobile column">
            <img class="ui centered image" src="{% static 'images/space.png' %}">
        </div>
        <!-- https://stackoverflow.com/questions/298772/django-template-variables-and-javascript -->
        <div class="six wide computer sixteen wide mobile column">
            <div class="ui padded grid" id="right_side">
                <div class="eight wide computer sixteen wide mobile column" id="sche_tbl">
                    <table class="ui celled right aligned table">
                        <thead>
                            <tr><th><h2>今日課程</h2></th></tr>
                        </thead>
                        <tbody id="course_insert">
                            {{ today_course|json_script:"course-data" }}
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column" id="schedule_right">
                    <div class="ui padded grid" id="clock_grid">
                        <div class="sixteen wide column" id="clock_div">
                            <canvas> </canvas>
                        </div>
                        <div class="sixteen wide column" align="center" id="schedule_link">
                            <i class="angle double right icon"></i>
                            <a href="#" style="color:#fff;">查看完整課表</a>
                        </div>
                    </div>
                </div>
                <button class="ui blue button" id="schedule_btn">
                    <i class="angle double right icon"></i>
                    &nbsp;&nbsp;查看完整課表
                </button>
                <div class="sixteen wide column" id="game">
                </div>
            </div>
        </div>
        <div class"sixteen wide column" id="inform-down">
            <i id="down-icon" class="chevron down link icon" style="opacity:0.6; font-size:2rem;"></i>
            <p sytle="font-size:8px;">往下看詳細介紹</p>
        </div>
    </div>
</div>
<div class="content-area" id="about-us">
    <div class="ui padded grid" style="width: 100%;">
        <div class="eight wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="five wide computer seven wide mobile column">
                    <h2 class="ui header" style="color:#ee964b">About Us</h2>
                    <h3>關於科登</h3>
                </div>
                <div class="eleven wide computer nine wide mobile column" style="border-left: thick solid #ee964b; height:5rem; margin: auto;">
                </div>
            </div>
            <div class="ui clearing divider"></div>
            <p>科登文教機構成立於西元1993年，深耕大豐原地區二十餘年，教育過的學子不計其數，遍布豐原、后里、神岡、潭子地區。十幾年來以英語教學打穩辦學根基，近年更加入數學、理化等課程使同學們獲得更全面的學習。而近一兩年，電機資訊團隊正在積極投入研發，預計於2020年推出嶄新的程式設計與機器人課程，與108課綱正式接軌。</p>
        </div>
        <div class="eight wide computer sixteen wide mobile column">
            <img class="ui large centered rounded image" src="{% static 'images/aboutus.jpg' %}">
        </div>
        <div class="eight wide computer sixteen wide mobile column" id="aboutus_img2">
            <img class="ui large centered rounded image" src="{% static 'images/aboutus.jpg' %}">
        </div>
        <div class="eight wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="eleven wide computer nine wide mobile column" style="border-right: thick solid #ee964b; height:5rem; margin: auto;"></div>
                <div class="five wide computer seven wide mobile column" style="text-align:right;">
                    <h2 class="ui header" style="color:#ee964b">School Philosophy</h2>
                    <h3>理念與願景</h3>
                </div>
            </div>
            <div class="ui clearing divider"></div>
            <p>以開啟學生語言學習之鑰為首務。師資均具有專業英文職能、資歷與教學熱誠,願意付出百分之百所學及心力於教學對象。 不只是英文補習班,同時也兼任教導學生思考和知識整合能力的教育機構 ,使學生自在應用英文於聽、說、讀、寫,在日益國際化的環境中更具競爭力。</p>
        </div>
    </div>
</div>
<div class="content-area" id="english">
    <div class="line" style="height:100px; width:250px; position:absolute; top:75%; left:5%; border-left:solid 6px #ee964b;border-bottom:solid 6px #ee964b;"></div>
    <div class="line" style="height:100px; width:60px; position:absolute; top:10%; right:70px; border-right:solid 6px #ee964b;border-top:solid 6px #ee964b;"></div>
    <div class="line" style="text-align:center;width:120px;font-size:2rem; position:absolute; top:9%; right:130px;background-color:transparent; color:#ee964b;">英文部</div>
    <div class="line" style="height:10px; width:100px; position:absolute; top:10%; right:250px; border-top:solid 6px #ee964b;"></div>
    <div class="ui grid">
        <div class="sixteen wide column" id="mobile_eng_title"><h1>英文部</h1></div>
        <div class="four wide computer sixteen wide mobile column eng_card">
            <div class="ui fluid card">
                <div class="blurring dimmable image">
                    <div class="grade"><h2>兒童美語</h2></div>
                    <div class="ui dimmer">
                        <div class="content">
                            <h2>兒童美語</h2>
                            <div class="ui inverted button">了解更多</div>
                            <div style="margin-top: 1em;">小班制教學</div>
                            <div style="margin-top: 0.5em;">自然發音</div>
                            <div style="margin-top: 0.5em;">打好文法基礎</div>
                        </div>
                    </div>
                    <img src="{% static 'images/crymylife1.png' %}">
                </div>
            </div>
        </div>
        <div class="four wide computer sixteen wide mobile column eng_card">
            <div class="ui fluid card">
                <div class="blurring dimmable image">
                    <div class="grade"><h2>國中部</h2></div>
                    <div class="ui dimmer">
                        <div class="content">
                            <h2>國中部</h2>
                            <div class="ui inverted button">了解更多</div>
                            <div style="margin-top: 1em;">小班制教學</div>
                            <div style="margin-top: 0.5em;">自然發音</div>
                            <div style="margin-top: 0.5em;">打好文法基礎</div>
                        </div>
                    </div>
                    <img src="{% static 'images/crymylife1.png' %}">
                </div>
            </div>
        </div>
        <div class="four wide computer sixteen wide mobile column eng_card">
            <div class="ui fluid card">
                <div class="blurring dimmable image">
                    <div class="grade"><h2>高中部</h2></div>
                    <div class="ui dimmer">
                        <div class="content">
                            <h2>高中部</h2>
                            <div class="ui inverted button">了解更多</div>
                            <div style="margin-top: 1em;">小班制教學</div>
                            <div style="margin-top: 0.5em;">自然發音</div>
                            <div style="margin-top: 0.5em;">打好文法基礎</div>
                        </div>
                    </div>
                    <img src="{% static 'images/crymylife1.png' %}">
                </div>
            </div>
        </div>
        <div class="four wide computer sixteen wide mobile column" style="width: 22%;">
            <p>以開啟學生語言學習之鑰為首務。師資均具有專業英文職能、資歷與教學熱誠,願意付出百分之百所學及心力於教學對象                </p>
        </div>
    </div>
</div>
<div class="content-area" id="math">
    <div class="ui centered grid">
        <div class="seven wide computer fourteen wide mobile column">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div style="font-size:3rem;line-height:3rem;">Mathematics<br>and Science<span style="font-size:2rem;"> 數理部</span></div>
                </div>
                <div class="sixteen wide column">
                    <p>
                    以開啟學生語言學習之鑰為首務。師資均具有專業英文職能、資歷與教學熱誠,願意付出百分之百所學及心力於教學對象。 不只是英文補習班,同時也兼任教導學生思考和知識整合能力的教育機構 ,使學生自在應用英文於聽、說、讀、寫,在日益國際化的環境中更具競爭力。
                    </p>
                </div>
            </div>
        </div>
        <div class="seven wide computer fourteen wide mobile column">
            <img class="ui large centered rounded image" src="{% static 'images/aboutus.jpg' %}">
        </div>
    </div>
</div>
<div class="content-area" id="tech">
    <div class="ui one column centered grid">
        <div class="sixteen wide column">
            <h3 style="color:#4F6D7A;text-align:center;">//&nbsp&nbsp&nbsp你知道程式設計納入108課綱了嗎？</h3>
        </div>
        <div class="six wide computer eleven wide mobile column" style="margin:3rem 0;">
            <div style="color:#fff;text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;font-size:4rem;line-height:4rem;">科技教育中心</div>
            <div style="color:#4F6D7A;text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;font-size:2rem;line-height:2rem;">Technology Education Center</div>
        </div>
        <div class="sixteen wide column" style="margin-top:1rem;">
            <div style="text-align:center;font-size:1.5rem;line-height:1.5rem;">
                <span style="color:#7D5BA6">{&nbsp;&nbsp;電機資訊<span style="color:#FCE94F">程式設計</span><span style="color:#7D5BA6">專門課程;&nbsp;&nbsp;}</span>
            </div>
            <div style="margin-top:0.5rem;color:#7D5BA6;text-align:center;font-size:2rem;line-height:2rem;">#Coming&nbsp; soon&#133;</div>
        </div>
    </div>
</div>
<div class="content-area" id="footer">
    <div class="ui one column centered grid">
        <div class="column">
            <h2>科登文教機構</h2>
        </div>
        <div class="column">
            <h4>台中，豐原</h4>
        </div>
        <div class="column">
            <div class="ui very relaxed horizontal list">
                <div class="item">
                    <i class="home icon"></i>
                    台中市豐原區瑞安街183號
                </div>
                <div class="item">
                    <i class="phone icon"></i>
                    (04)2528-3433
                </div>
                <div class="item">
                    <i class="clock outline icon"></i>
                    14:00 ~ 22:00
                </div>
            </div>
        </div>
        <div class="ui clearing divider" style="width: 80%;"></div>
        <div class="column">
            Copyright 2019 © 科登文教機構 Designed by shihyuuuuuuu·_·
        </div>
    </div>
</div>
<div class="ui hidden modal" id="week_schedule">
    <i class="close icon"></i>
    <div class="header">
        課程時間表
    </div>
    <div class="content">
        <table class="ui definition table center aligned">
            <thead>
                <tr><th></th>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>早上</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>下午</td>
                    <td>兒美Y20<br>(1615~1800)</td>
                    <td></td>
                    <td>兒美Y21<br>(1530~1715)</td>
                    <td>兒美Y20<br>(1615~1800)</td>
                    <td>兒美Y21<br>(1530~1715)</td>
                    <td>國一數學<br>(1400~1700)</td>
                </tr>
                <tr>
                    <td>晚上</td>
                    <td>國一英文<br>(1830~2100)<br>高二數學<br>(1830~2130)</td>
                    <td>高一英文<br>(1900~2200)<br>國三理化<br>(1830~2130)</td>
                    <td>國二英文<br>(1830~2200)<br>高職二數學<br>(1830~2130)</td>
                    <td>國一英文<br>(1830~2100)<br>高職電子學<br>(1830~2130)</td>
                    <td>國三英文<br>(1830~2200)<br>高一數學<br>(1830~2130)</td>
                    <td>國三數學<br>(1830~2130)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="ui hidden modal" id="child_english">
    <i class="close icon"></i>
    <div class="header">
        英文部-兒童美語
    </div>
    <div class="image content">
        <div class="description">
            <p>簡單的班級描述。</p>
            <table class="ui definition center aligned table">
                <thead>
                    <tr><th>班級代號</th>
                        <th>Y20</th>
                        <th>Y21</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td>適合程度</td>
                            <td>有基礎單字量、基礎文法概念<br>(小四～小六)</td>
                            <td>無基礎之初學者，從頭打穩英文基礎<br>(小一～小三)</td>
                        </tr>
                        <tr>
                            <td>上課時間</td>
                            <td>每週一、四 16:15 ~ 18:00</td>
                            <td>每週三、五 15:30 ~ 17:15</td>
                        </tr>
                        <tr>
                            <td>文法</td>
                            <td>EFL Phonics 4</td>
                            <td>EFL Phonics 5</td>
                        </tr>
                        <tr>
                            <td>單字</td>
                            <td>7000單</td>
                            <td>4000單</td>
                        </tr>
                        <tr>
                            <td>聽力、口說</td>
                            <td>Target Listening 1</td>
                            <td>Target Listening 2</td>
                        </tr>
                        <tr>
                            <td>閱讀、寫作</td>
                            <td>rating (integer)</td>
                            <td>Sets the current star rating to specified value</td>
                        </tr>
                        <tr>
                            <td>學校版本</td>
                            <td>rating (integer)</td>
                            <td>Sets the current star rating to specified value</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/clock.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}