{% extends "base_generic.html" %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/clock.css' %}">
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="universe">
    <div class="ui two column padded grid" id="main-area">
        <div class="ten wide computer sixteen wide mobile column">
            <img class="ui centered image" src="{% static 'images/space.png' %}">
        </div>
        <!-- https://stackoverflow.com/questions/298772/django-template-variables-and-javascript -->
        <div class="six wide computer sixteen wide mobile column">
            <div class="ui padded grid" id="right_side">
                <div class="eight wide computer sixteen wide mobile column" id="sche_tbl">
                    <table class="ui celled right aligned table">
                        <thead>
                            <tr><th><h2>今日課程</h2></th></tr>
                        </thead>
                        <tbody id="course_insert">
                            {{ today_course|json_script:"course-data" }}
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column" id="schedule_right">
                    <div class="ui padded grid" id="clock_grid">
                        <div class="sixteen wide column" id="canvas">
                            <canvas> </canvas>
                        </div>
                        <div class="sixteen wide column" align="center" id="schedule_link">
                            <i class="angle double right icon"></i>
                            <a href="#" style="color:#fff;">看每週課表！</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui blue button" id="schedule_btn">
                <i class="angle double right icon"></i>
                    &nbsp;&nbsp;查看完整課表
            </button>
            <div class="sixteen wide column" id="banner" style="margin-bottom: 3rem;">
                <a href="/home/myclass">
                    <img src="{% static 'images/banner_bg.png' %}" style="width: 100%; border-radius: 1em; margin: auto;">
                </a>
                {% if user.is_authenticated %}
                <div class="ui button" id="edit_banner">
                    <i class="pencil alternate icon"></i>
                    <span>Edit</span>
                </div>
                <form action="/somewhere/to/upload" enctype="multipart/form-data">
                    <div style="height:0px; width: 0; overflow:hidden;">
                        <input type="file" id="fileInput" accept="image/gif, image/jpeg, image/png"/>
                    </div>
                </form>
                {% endif %}
            </div>            
        </div>
        <div class"sixteen wide column" id="inform-down">
            <a href="/#vision" style="color: #fff;text-decoration: none;"><i id="down-icon" class="chevron down link icon" style="font-size:2rem;"></i></a>
            <p sytle="font-size:8px;">往下滑！</p>
        </div>
    </div>
</div>
<div class="content-area" id="vision">
    <div class="idea">
        <i class="big quote left icon"></i>
        <h1>讓每個孩子擁有能夠帶到未來的能力。</h1>
        <p><i>每個孩子來到科登的原因或許不同，但我們希望在他（她）踏出科登大門的那天，能夠帶走屬於自己的東西。在這個變遷快速的時代，不再有任何技能或工作可稱作是「鐵飯碗」，我們努力幫助孩子找到適合自己的路，並有能力去面對那條路上的關卡與挑戰。</i></p>
        <i class="big quote right icon"></i>
    </div>
</div>
<div class="content-area" style="background-color: #3066BE;" id="class_struct"> 
    <div>
        <h1 style="text-align: center;">科登的課程</h1>
        <p>我們目前的授課科目主要可以分為「英文」、「數理」，以及 2020 年暑假即將開班的「資訊科技」課程，年級涵蓋國小到高中，各部門目前開課班級可以參考下圖表。</p>
        <img class="ui image" src="{% static 'images/class_structure.png' %}">
    </div>
</div>
<div class="content-area" id="eng">
    <div class="ui padded grid">
        <div class="six wide computer sixteen wide mobile column left-padding">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h1>英文部</h1>
                    <h2 class="sub_title">
                        English<br>Department
                    </h2>
                </div>
                <div class="sixteen wide column">
                    <div class="eng_blk cls_blk">Y21-入門</div>
                    <div class="eng_blk cls_blk">Y20-基礎</div>
                    <div class="eng_blk cls_blk">國一-初級</div>
                    <div class="eng_blk cls_blk">國二-初級</div>
                    <div class="eng_blk cls_blk">國三-初級</div>
                    <div class="eng_blk cls_blk">高一-中級</div>
                </div>
            </div>
        </div>
        <div class="nine wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h2 style="color:#ee964b">課外為主、課內為輔，多角度切入活用英文</h2>
                    <p>
                        英文課程由 Monica 老師教導，教課範圍從兒童美語到高中英文，以課外教材為主體、並同時兼顧學校進度。教學內容觸及聽力、閱讀、會話、寫作、單字、文法、小說等各個不同的面向，使同學們的學習不再只侷限於課內，能夠獲得更全面的學習與活用。
                    </p>
                </div>
                
            </div>
        </div>
        <div class="one wide column mobile_hide"></div>
        <div class="one wide column mobile_hide"></div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge headphones icon"></i>
                <figcaption>聽力</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge book icon"></i>
                <figcaption>閱讀</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge comments alternate icon"></i>
                <figcaption>口說</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge pencil alternate icon"></i>
                <figcaption>寫作</figcaption>
            </figure>
        </div>
        <div class="two wide computer three wide mobile column intro_icon">
            <figure align="center">
                <i class="huge font icon"></i>
                <figcaption>單字、文法</figcaption>
            </figure>
        </div>
        <div class="four wide computer sixteen wide mobile right floated column" align="right">
            <button class="ui button" style="background-color: #ee964b; color: #fff;">各班詳細介紹 >></button>
        </div>
        <div class="one wide column mobile_hide"></div>
    </div>
</div>
<div class="content-area" id="math_sci">
    <div class="ui padded grid">
        <div class="eleven wide computer sixteen wide mobile column">
            <div class="ui grid">
                <div class="six wide computer sixteen wide mobile column left-padding">
                    <h1>數理部</h1>
                    <h2 class="sub_title">
                        Math and Science<br>Department
                    </h2>
                </div>
                <div class="ten wide computer sixteen wide mobile column left-padding">
                    <div class="math_blk cls_blk">國一數學</div>
                    <div class="math_blk cls_blk">國三數學</div>
                    <div class="math_blk cls_blk">國三理化</div>
                    <div class="math_blk cls_blk">高一數學</div>
                    <div class="math_blk cls_blk">高二數學</div>
                    <div class="math_blk cls_blk">高職二數學</div>
                    <div class="math_blk cls_blk">高職電子學</div>
                </div>
                <div class="sixteen wide column left-padding">
                    <h2 style="color:rgb(115, 149, 111)">觀念式教學，以實例帶入定理，迅速抓住單元重點</h2>
                    <p>
                        數理課程由 Easy 老師教導，電機背景的 Easy 老師，教授科目涵蓋數學、理化、電子電機等領域。擅長先以實例帶領同學理解大觀念或定理的運作，再進入原理背後的計算或實作細節；能夠使同學迅速掌握課程重點，進入細節時也更容易理解、不會一開始就迷失在複雜的計算過程中。小班式的教學特色，更能夠照顧到每個程度不同的孩子！
                    </p>
                </div>    
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="three wide computer sixteen wide column">
            <div class="ui centered grid">
                <div class="sixteen wide computer five wide mobile column intro_icon">
                    <figure align="center">
                        <i class="huge lightbulb  icon"></i>
                        <figcaption>觀念式教學</figcaption>
                    </figure>
                </div>
                <div class="sixteen wide computer six wide mobile column intro_icon">
                    <figure align="center">
                        <i class="huge rocket icon"></i>
                        <figcaption>迅速抓住重點</figcaption>
                    </figure>
                </div>
                <div class="sixteen wide computer five wide mobile column intro_icon">
                    <figure align="center">
                        <i class="huge users icon"></i>
                        <figcaption>有教無類</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
<div class="content-area" id="maker">
    <div class="ui padded grid">
        <!--For new class promotion-->
        <button class="ui button animated infinite flash" id="promote_btn">NEW</button>
        <div class="row">
            <div class="six wide computer sixteen wide mobile column"></div>
            <div class="ten wide computer sixteen wide mobile column">
                <div class="ui grid">
                    <div class="sixteen wide column" id="maker_title">
                        <span class="margin_r2">
                            <span style="color: #3FBFBB">G</span>olden 
                            <span style="color: #3FBFBB">M</span>aker 
                            <span style="color: #3FBFBB">S</span>pace
                        </span>
                        <div>
                            <i class="terminal icon"></i>
                            <h1>科登創客基地</h1>
                        </div>
                    </div>
                    <div class="sixteen wide column" style="text-align: right;">
                        <p class="margin_r2">
                            108 課綱起將科技資訊素養納入正式課程，國高中都要學寫程式！<br class="mobile_hide">2020 年暑假，由 Easy 老師帶領淡江電機系的 Maulder 與成大資工系的 Elmo，<br class="mobile_hide">為科登的孩子們帶來全新的程式設計與軟硬體開發課程，與 108 課綱正式接軌🏃‍♂🏃‍♀
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_r2" id="slogans">
            <div class="four wide computer sixteen wide mobile column">
                <h2>Training on Project</h2>
                <h2>專案中學習</h2>
                <figure align="center">
                    <i class="huge puzzle piece icon"></i>
                </figure>
                <p align="center">我們特別強調透過專案來了解理論，先建立整體概念再探討技術細節，是我們認為較有效的學習路徑。</p>
            </div>
            <div class="four wide computer sixteen wide mobile column">
                <h2>Get your hands dirty</h2>
                <h2>把手弄髒</h2>
                <figure align="center">
                    <i class="huge wrench icon"></i>
                </figure>
                <p align="center">我們鼓勵孩子們用力把手弄髒。腦中有想法就盡可能動手把它實現，在過程中培養自己解決問題的能力。</p>
            </div>
            <div class="four wide computer sixteen wide mobile column">
                <h2>Embrace Failure</h2>
                <h2>擁抱失敗</h2>
                <figure align="center">
                    <i class="huge bug icon"></i>
                </figure>
                <p align="center">在這裡，失敗一點也不丟臉，反倒是理解自身不足的絕佳機會。 Debug 是成為強者的必經之路。</p>
            </div>
            <div class="four wide computer sixteen wide mobile column">
                <h2>Idea Hub</h2>
                <h2>創意集散地</h2>
                <figure align="center">
                    <i class="huge cubes icon"></i>
                </figure>
                <p align="center">「我想要自己做這個！」是許多自造者的初始想法。我們歡迎各種天馬行空的想法，也培養邏輯力、思考力與想像力。</p>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden modal" id="week_schedule">
    <i class="close icon"></i>
    <div class="header">
        課程時間表
    </div>
    <div class="content">
        <img class="ui image" src="{% static 'images/week_schedule.png' %}">
    </div>
</div>
<script src="{% static 'js/clock.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}