{% extends "base_generic.html" %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myclass.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bulletin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pretest.css' %}">
<script src="{% static 'js/myclass.js' %}"></script>
{% endblock %}
{% block content %}
<div class="myclass">
    <div class="ui padded grid">   
        <div class="three wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item">
                    <i class="tasks icon"></i>
                    本週訊息公佈
                </a>
                <a class="item">
                    <i class="pencil alternate icon"></i>
                    預考區
                </a>
                <a class="item">
                    <i class="comments icon"></i>
                    班級討論區
                </a>
                <a class="item">
                    <i class="table icon"></i>
                    個人成績紀錄
                </a>
            </div>
        </div>
        <div class="thirteen wide column">
            <div class="ui segment"></div>
        </div>
    </div>
</div>
{% endblock %}