/************************
 * Universe Page Styles *
 ************************/
.universe {
    background-color: #1a1a7f;
    margin-top: 4rem;
    height: calc(100vh - 4rem);
}
#main-area {
    padding-top:0rem;
    padding-bottom:0rem;
    height: calc(100vh - 4rem);
}
#main-area .ten.wide, #main-area .six.wide {
    height: 100%;
}
#main-area .column img {
    width: auto;
    height: calc(100% + 2rem);
    margin: -1rem auto;
}
#right_side {
    height: 45%;
}
#sche_tbl {
    height: 100%;
}
#sche_tbl table {
    float: right;
    border: none;
    background-color: transparent;
    width: 75%;
}
#sche_tbl table th, #sche_tbl table td {
    background-color: transparent;
    font-size: 1.3rem;
    color: #fff;
}
#sche_tbl table th {
    border: none;
    border-bottom: solid 3px white;
}    
#sche_tbl table td {
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#class0 { border-right: solid 8px orange; }
#class1 { border-right: solid 8px green; }
#class2 { border-right: solid 8px rgb(244, 91, 105); }
#class3 { border-right: solid 8px blue; }
#schedule_right {
    height: 100%;
    padding: 0;

}
#clock_grid {
    height: 100%;
}
#clock_grid #canvas {
    transform: scaleY(-1);
    height: 90%;
    width: 100%;
    padding: 0;
}
#schedule_link {
    height: 10%;
    color: #fff;
    padding: 0;
}
#schedule_btn {
    display: none;
}
#banner {
    align-items: center;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    max-height: 23%;
    overflow: hidden;
    position: relative;
}
#edit_banner {
    background-color: #595959;
    border-radius: 6px;
    border: 0;
    color: #fff;
    font-weight: 100 !important;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;
    position: absolute;
    line-height: 1.4285em !important;
}
#inform-down {
    height: 80px;
    bottom: 0px; 
    color:#fff; 
    position:absolute; 
    text-align:center; 
}

/*************************
 * Content Blocks Styles *
 *************************/
.content-blk {
    background-color: #eeeeeeff;
    padding: 4rem 11rem;
}
#eng, #math_sci {
    border-bottom: 2px dashed rgb(146, 141, 141, 0.43);
}
.content-blk h1 {
    letter-spacing: 2rem;
}
.content-blk p {
    font-size: 18px;
    line-height: 40px;
}
.left-padding { padding-left: 6rem !important;}
.sub_title { margin: 0;}
.cls_blk {
    border-radius: 0.4em;
    display: inline-block;
    font-size: 1.2rem;
    margin: 6px 3px 6px 0px;
    padding: 4px 4px;
    text-align: center;
}
.eng_blk {
    background-color: #FFE6CC;
    border: 1px solid #ee964b;
    color: #BD7000;
    min-width: 6rem;
}
.math_blk {
    background-color: #D5E8D4;
    border: 1px solid #73956F;
    color: #73956F;
    min-width: 7rem;
}
figure { margin: 0; }
figcaption {
    font-size: 1.2rem;
    text-align: center;
}

/* Vision */
#vision {
    background-image: url('../images/triangle_bg.jpg');
    background-position: center;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    visibility: hidden;
}
.idea {
    padding: 0 15rem;
    text-align: center;
}
.idea h1 {
    letter-spacing: 0.5rem; 
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

/* Class Structure */
#class_struct > div {
    color: #fff;
    margin: 0 auto; 
    width: 60%;
}

/* English */
#eng .intro_icon i {
    color: #ee964b;
    margin: 1rem;
}
#eng figcaption { color: #ee964b; }

/* Math and Science*/
#math_sci .intro_icon i {
    color: rgb(115, 149, 111);
    margin: 1rem;
}
#math_sci figcaption { color: rgb(115, 149, 111); }

/* Maker */
.margin_r2 {
    margin-right: 2rem;
}
#promote_btn {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: red;  
    color: #fff; 
    font-size: 1.2rem; 
    margin-left: auto; 
    margin-right: 3rem;
    padding: 4px  !important; 
}
#maker_title {
    margin-bottom: 1rem;
    text-align: right;
}
#maker_title i {
    font-size: 2.8rem;
}
#maker_title > span {
    display: block;
    font-family: 'Tomorrow', sans-serif;
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
    text-align: right;
}
#maker_title h1 {
    display: inline;
}
#slogans {
    margin-top: 3rem;
}
#slogans .column h2 {
    color: #3FBFBB;
    line-height: 0.8rem;
    text-align: center;
}
#slogans .column h2:nth-child(2) {
    letter-spacing: 0.6em;
    line-height: 1.2em;
    text-indent: 0.6em;
}
#slogans figure {
    color: #3FBFBB;
    margin: 1rem;
}
#slogans p {
    margin: auto 1.1rem;
    line-height: 2.4rem;
}

@media only screen and (max-width: 767px) {
    .universe { height: auto; }
    #main-area { height: auto; }
    #main-area .column img {
        width: 100%;
        height: auto;
    }
    #main-area .ten.wide, #main-area .six.wide {
        width: 100%;
        height: auto;
        padding: 0;
    }
    #sche_tbl { height: auto; }
    #sche_tbl table th {
        border-bottom: solid 3px white !important;
    }
    #sche_tbl table tr { padding: 1.5px; }
    #schedule_right {
        display: none;
        height: auto;
        width: 100%;
    }
    #schedule_btn {
        display: block;
        padding-left: 0;
        width: 50%;
        margin: 2rem auto 3rem;
    }
    #sche_tbl table {
        float: none;
        margin: 0 auto;
        width: 70%;
    }
    #banner { margin: auto 1rem; }
    #inform-down { display: none; }
    #aboutus_img2 { display: none; }

    /* Content blocks */
    .content-blk { padding: 3rem 1rem; }
    .content-blk p { font-size: 16px; line-height: 30px; }
    .content-blk h1 { letter-spacing: 0rem;}
    .left-padding { padding-left: 1rem !important;}
    #class_struct {
        padding: 1.5rem 1rem;
        width: 100%;
    }
    #class_struct > div {
        width: 85%;
    }
    .mobile_hide {
        display: none !important;
    }
    .intro_icon {
        padding: 0rem !important;
    }
    .intro_icon i {
        font-size: 3em !important;
    }
    .idea {
        padding: 0 1rem;
    }
    .idea h1 {
        margin-bottom: 1rem;
    }
    #promote_btn {
        margin-right: 1rem;
    }
    #maker_title span {
        font-size: 2.4rem;
    }
    .margin_r2 {
        margin-right: 0;
    }
    #maker_p {
        text-align: left;
    }
    #slogans .column {
        margin: 2rem auto;
    }
    #slogans p {
        margin: auto 2.9rem;
    }
}