.grey p {
    font-size: 18px;
    line-height: 40px;
}

h3 {
    margin: calc(1rem - 0.842857em) 0 1rem;
}

#clock {
    /*border: solid 3px orange;*/
    padding:10px;
    height: 40vh;
}

#clock canvas {
    background-color: #fff;
    transform: scaleY(-1);
}

#schedule {
    padding: 2.5rem 0rem;
    height: 40vh;
}

#schedule table {
    float: right;
    border: none;
    background-color: transparent;
    width: 60%;
}

#schedule table th, #schedule table td {
    background-color: transparent;
    font-size: 1.3rem;
    color: #fff;
}

#schedule table th {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px white;
}    

#schedule table td {
    border-top: none;
    border-left: none;
    border-bottom: none;
}

#class0 {
    border-right: solid 8px orange;
}

#class1 {
    border-right: solid 8px green;
}

#class2 {
    border-right: solid 8px rgb(244, 91, 105);
}

#class3 {
    border-right: solid 8px blue;
}

#eng_game {
    height: 40%;
    /*border: solid 3px green;*/
}

.inform-down {
    color:#fff; 
    text-align:center; 
    position:absolute; 
    bottom:10px; 
    margin-left: auto; 
    margin-right: auto; 
    left:0; 
    right:0;
}

.blue {
    background-color: #1a1a7fff;
    margin-top: 3.5rem;
}

.grey {
    background-color: #eeeeeeff;
}

.orange {
    background-color: rgb(238, 150, 75);
}

/*https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size*/
.green {
    background-image:url("../images/math.png");
    background-size: contain;
    background-color: rgb(115, 149, 111);
    background-repeat: no-repeat;
    width: 100%;
    height:0;
    padding-top: 44.67%;
}

.content-block {
    padding: 2em;
}

.text {
    padding: 1em;
}
