.universe {
    background-color: #1a1a7fff;
    margin-top: 4rem;
    height: calc(100vh - 4rem);
}

#main-area {
    padding-top:0rem;
    padding-bottom:0rem;
    height: calc(100vh - 4rem);
}

#main-area .ten.wide, #main-area .six.wide {
    height: 100%;
}

#main-area .ten.wide img {
    width:auto;
    height: 100%;
}

#schedule_area {
    height: 60%;
    margin: 0;
}

#sche_tbl {
    padding: 2.5rem 0rem;
}

#sche_tbl table {
    float: right;
    border: none;
    background-color: transparent;
    width: 60%;
    position: relative;
}

#sche_tbl table th, #sche_tbl table td {
    background-color: transparent;
    font-size: 1.3rem;
    color: #fff;
}

#sche_tbl table th {
    border: none;
    border-bottom: solid 3px white;
}    

#sche_tbl table td {
    border-top: none;
    border-left: none;
    border-bottom: none;
}

#class0 {
    border-right: solid 8px orange;
}

#class1 {
    border-right: solid 8px green;
}

#class2 {
    border-right: solid 8px rgb(244, 91, 105);
}

#class3 {
    border-right: solid 8px blue;
}

#clock {
    height: 100%;
}

#clock_div {
    height: 70%;
}

#clock_div canvas {
    background-color: #1a1a7fff;
    transform: scaleY(-1);
}

#game {
    height: 40%;
}

#inform-down {
    height: 50px;
    bottom:10px; 
    color:#fff; 
    left:0; 
    right:0;
    margin-left: auto; 
    margin-right: auto; 
    position:absolute; 
    text-align:center; 
}

.content-area {
    padding: 4em 0;
}

#about-us {
    background-color: #eeeeeeff;
    visibility: hidden;
}

.content-area p {
    font-size: 18px;
    line-height: 40px;
}

#about-us h3 {
    color: #b7b7b7;
    display: inline;
    margin: 0;
}

#english {
    background-image: url("../images/aboutus_bw.jpg");
    background-size:cover;
    position: relative;
    background-color: #eeeeeeff;
    visibility: hidden;
}

.grade {
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1em;
    z-index: 10;
}

.grade h2 {
    margin-top: 2.6em;
}

.grade h2::after {
    border-bottom: solid 3px #000;
    content: "";
    display: block;
    margin: 48px auto auto;
    width: 56px;
}

.content h2 {
    margin-bottom: 2em;
}

#math {
    background-color: rgb(115, 149, 111);
    color:#fff;
    visibility: hidden;
}

#tech {
    background-color: #3FBFBB;
    visibility: hidden;
}

#footer {
    background-color: #595959;
    color:#fff;
}

/*********** Not used ***********
//https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size
.green {
    background-image:url("../images/math.png");
    background-size: contain;
    background-color: rgb(115, 149, 111);
    background-repeat: no-repeat;
    width: 100%;
    height:0;
    padding-top: 44.67%;
}
********************************/

